<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.adityadesai.cngcustomer">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.example.adityadesai.cngcustomer.Activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.adityadesai.cngcustomer.Activities.ShopListActivity"
            android:parentActivityName="com.example.adityadesai.cngcustomer.Activities.MainActivity"/>
        <activity
            android:name="com.example.adityadesai.cngcustomer.Activities.ShopDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName="com.example.adityadesai.cngcustomer.Activities.ShopListActivity"/>
        <activity android:name="com.example.adityadesai.cngcustomer.Activities.ItemDetailsActivity" />
        <activity android:name="com.example.adityadesai.cngcustomer.view_items" />
        <activity android:name="com.example.adityadesai.cngcustomer.view_offers" />
        <activity android:name="com.example.adityadesai.cngcustomer.view_details" />
        <activity android:name="com.example.adityadesai.cngcustomer.Activities.ProfileActivity" />
        <activity android:name="com.example.adityadesai.cngcustomer.Activities.OwnerInfo"
                  android:theme="@style/AppTheme.PopUp">
        </activity>
    </application>

</manifest>